body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #4b5563;
    overflow-x: hidden;
}

* {
    border-radius: 0 !important;
}

.hero-gradient {
    background: linear-gradient(rgba(44, 195, 243, 0.4), rgba(238, 58, 123, 0.6));
}

html {
    scroll-behavior: smooth;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.img-cover-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.project-card:hover .img-cover {
    transform: scale(1.05);
}

/* Carrossel de Patrocinadores */
.carousel-container {
    animation: carousel 30s linear infinite;
    will-change: transform;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.carousel-container:hover {
    animation-play-state: paused;
}

